.nav {
  // background-image: linear-gradient(
  //   to right,
  //   $color-primary-dark,
  //   $color-primary-darker
  // );
  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
  }
  &__logo {
    height: 5rem;
    width: auto;
  }

  &__item {
    list-style: none;

    li {
      display: inline-block;
      padding: 0 2rem;
    }
  }

  &__link {
    text-decoration: none;
    font-size: 2rem;
    color: $color-white;
  }
}
